@import '../../mixins.scss';

$TodoSelect-height: 60px;


.TodoSelect {
  @include flexColumn;
  min-width: 300px;
  padding: 8px;
  margin: 20px 10px 12px 10px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 3px 6px rgb(241, 241, 241);

  &__section {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__selectButtons {
    display: flex;
    justify-content: center;
  }

  &__title {
    font-size: 16px;
    margin: auto 0;
    padding: 5px 10px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    transition: 0.2s;

    &--selected {
      background-color: #449444;
      color: white;
      transition: 0.2s;
    }
  }

  @media (max-width: 430px) {
    & {
      flex-direction: column;

      &__section {
        flex-direction: column;
      }

      &__title {
        margin: 10px 0 0;
        width: 100%;
        text-align: center
      }
    }
  }

  @media (min-width: 750px) {
    & {
      min-width: 750px;
    }
  }
}
