.TodoList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__title {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 10px;

    min-width: 320px;
    padding: 20px 10px;
    background-color: white;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 8px;
    animation: sectionOpened 0.4s;
  }

  @media (min-width: 750px) {
    & {
      align-items: center;

      &__title {
        min-width: 750px;
      }
    }
  }
}

@keyframes sectionOpened {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}
